
* {
  box-sizing: border-box;
}
.contenedor {
  width: 100%;
  padding: 15px;
}
.formulario {
  background: white;
  margin-top: 150px;
  padding: 3px;
}


h1 {
  text-align: center;
  color: #1eaf32;
  font-size: 40px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#mensajeError{
  margin-top: 2px;
}

// .icon {
//   min-width: 50px;
//   text-align: center;
//   color: #999;
// }

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #2e9c3d;
  padding: 15px 20 px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.button:hover {

  box-shadow: 0 0 10px #a6e7a0, 0 0 20px #a3f7a3, 0 0 20px #cbf5c2;
  transition-delay: 1ms;

}
p {
  text-align: center;
}


@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 0%;
    border-radius: 2%;
  }
}
