.card-header {
    color: #17a11e;
    letter-spacing: 1px;
    text-align: center;
  }
  .card{
    min-width: 300px;
    max-width: 50%;
  }
  p {
    font-size: 125%;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #666666;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #1da528;
    border-radius: 15px;
    border: none;
  }
  
  .button:hover{
    box-shadow: 0 0 10px #abf7a4, 0 0 20px #95f8ad, 0 0 20px #89f392;
    transition-delay: 1ms;
  }
  