.barrNav {
  height: 50px;
  background-color: #d5ffcc;
  border-style: solid;
  border-color: #7ab88f;
  border-left: hidden;
  border-right: hidden;
}
.lupa {
  float: right;
  margin-top: 4px;
  margin-right: 8px;
}
.form {
  width: 25%;
  float: right;
  min-width: 200px;
  display: block;
  margin-top: 3px;
  // padding: 6px;
}

.paciente{
  font-size: 17px;
}

.titulo{
  font-size: 20px;
}
.form-select{
  width: auto;
  margin-top: 3px;
  float: right;
}
.table{
  width: 40%;
  table-layout: fixed;
  margin-right: auto;
  margin-left: auto;

}
.username {
  float: left;
  margin-top: 8px;
  margin-left: 2%;
  font-size: 22px;
}
.card-header {
  color:  #1EAF32;//#21cf47;
  letter-spacing: 1px;
  text-align: center;
  background-color: white;
}
.card {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border:none;
}

table tr:nth-child(even) {
  background-color: #d0ffcc;
}

table tr:nth-child(odd) {
  background-color: white;
}

.boton2{
  display: inline-block;
  padding: 15px 30px;
  color: white;
  background-color: #0e551d;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 15px;
  border-style: hidden;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.icono{
  background-color: rgba(240, 248, 255, 0);
  position: auto;
  font-size: 20px;
  border-radius: 15px;
  border-style: hidden;
  margin-left: 5%;
}



body {
  width: 100%;
  min-height: 100vh;
  size: cover;
  background-image:url("bacteriablanco.jpg") ;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  margin-top: 0.5em;

}
.flechas{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  display: inline-block;
}

h5{
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.numPag{
  width: 100%;
  align-self: center;
  margin-bottom: auto;
  margin-right: auto;

}
td,th:first-child{
  width: 20%;
  margin:0;
  white-space: nowrap;
  border-top-width: 0px;
}
td, th:nth-child(2) {
  width: 10%;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}
td, th:nth-child(3) {
  width: 10%;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}
td, th:nth-child(4) {
  width: 10%;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}
td, th:nth-child(5) {
  width: 10%;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}

/*td, th {
  width: 100%;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}*/

.botonBuscar{
  margin-top: 3px;
  float:right;
  background-color: rgba(255, 255, 255, 0.733);
  border-color: #7ab88f;
  width: 4%;
  height: 80%;
  border-radius: 15px;
  border-style:solid;
}
.card-error{
  background-color:rgba(255, 255, 255, 0.733) ;
  border-radius: 15px;
  margin-bottom: 2rem;
}